<!DOCTYPE html>
<html>
<head>
    <title>School List</title>
</head>
<body>
    <h1>School List</h1>
    <form method="get" action="{% url 'school_list' %}">
        <input type="text" name="name" placeholder="Filter by school name">
        <button type="submit">Search</button>
    </form>
    <h5>ID - School_Name -  School_Abbreviate_Name  -  School_Address </h5>
    <ul>
        {% for school in schools %}
            <li>
                <P><a href="{% url 'school_detail' school.id %}">{{ school.school_name }} </a>- {{ school.school_Abbreviate_name }} - {{ school.school_address }}
                
                    <form method="post" action="{% url 'school_update' school.id %}">
                        {% csrf_token %}
                        <button type="submit">Update</button>
                    </form>
                <form method="post" action="{% url 'school_delete' school.id %}">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
                </P>
            </li>

        {% endfor %}
    </ul>
</body>
</html>

